name: Terraform
on: pull_request
jobs:
  terraform-fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.11.14
    - name: terraform-fmt video_bucket
      run:
        terraform fmt video_bucket
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0
    - name: terraform-fmt health_check
      run:
        terraform fmt health_check
    - name: terraform-fmt pagerduty_sns
      run:
        terraform fmt pagerduty_sns
    - name: terraform-fmt stackdriver
      run:
        terraform fmt stackdriver
    - name: terraform-fmt gcp_project
      run:
        terraform fmt gcp_project
